body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f4f4f4;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#landing {
  text-align: center;
  padding: 50px 0;
}

.project-grids {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
  row-gap: 20px;
}
.projects {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 0 4px;
}
